<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
	<title>Laboratorio III</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap" rel="stylesheet">
<script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
<script src="src.js/main.js" defer></script>



</head>


<body>
<div id="app">    
    <section> <!-- sección barrita azul -->
        <div class="header">
            <img src="logo-globo.png" alt="Logo Globo" width="100" id="logo">
            <div class="form-container">
                <div id="mensaje-usuario">{{ mensajeUsuario }}</div>
                <input type="text" class="form-control-sm" placeholder="Ingresa tu usuario..." id="txtUsuario" v-model="usuario">
                <button id="btnUsuario" @click="logear">Ingresar</button>
            </div>
        </div>
    </section>

    <section> <!--sección info básica-->
        <div class="box box-info"> <!--para agregar caja-->
        
            <!--info básica/foto-->
            <div class="infobasic">
            <div class="perfil-imagen">
                <div class="profile-pic">
                    <img src="imagen-perfil.jpg" alt="Imagen de perfil" id="perfil-imagen">
                </div>
            </div>
            
                
            <!--info básica/datos-->

                <div class="info"> 
                    <ul>
                        <h2>{{nombreUsuario}}</h2>
                        <li><strong>Email: </strong>{{email}}</li>
                        <li><strong>Fecha de Nacimiento: </strong>{{fechaNacimiento}}</li>
                        <li><strong>Teléfono: </strong>{{telefono}}</li>
                        <li><strong>Ciudad: </strong>{{cuidad}}</li>
                        <li>Trabajando en <strong>{{trabajo}}</strong></li>
                    </ul>   
                                                                    <!--botón seguir-->
                </div> <!--fin info básica-->
                
            </div>
            <div class="fix"></div>
            <div class="btn-container">
            <div class="btnseguir">
                <button class="btn-1" id="btnseguir" @click="cambiarEstado">{{botonSeguir}}</button>
                
            </div>
            
            </div>
        
        </div> <!--fin caja-->
        </section>

        <div class="box-container">
            <section> <!--sección publicación-->
                <div class="box box-publi"> <!--para agregar padding-->
                    <div class="publi">
                        <p>Publicado hace 1 semana</p>
                        <img src="publicacion.jpg" alt="Imagen Tokio" >
                        <button class="btn-3" id="btnlike" @click="DarMeGusta">{{botonMeGusta}}</button> <p id="contador" style="display:inline-block" ><b>{{cantidadMeGusta}} Likes</b></p>
                        <p>Comentarios</p>
                        <h3><strong>Juan Pérez</h3></strong> <p>¡Wow, esa foto de Tokio es impresionante!</p>
                        <h3><strong>Kathleen J Rennie </h3></strong> <p>¡Esta foto de Tokio es simplemente espectacular! Me trae tantos recuerdos.!</p>
                        <h3><strong style="color: #4184F5">Diana Bell </h3></strong>  <p>¡Espero que algún día pueda ver Tokio en persona!</p>
                        <ul id="lista_comentarios"></ul>
                        
                        <div v-for="(comentario, index) in comentarios" :key="index" class="comentario">
                            <span class="nombre-usuario">{{ comentario.usuario + " "}}</span>
                            <span class="texto-comentario">{{ comentario.comentario }}</span>
                            <button class="botonBorrar" @click="eliminar(index)">Eliminar</button>
                        </div>
                        

                    </div>
                    <div class="btn2-container">
                        <div id="mensaje-usuario">{{ mensajeIngreso }}</div>
                        <input class="btncomentar" type="text" id="txtcomentario" placeholder="Deja tu comentario..." v-model="comentario">
                        <button class="btn-2"id="btnComentarios" @click="dejarComentario" :disabled="!usuario">Comentar</button>
                        <div id="mensaje-comentario">{{ mensajeComentarios }}</div>
                        
                    </div>
                </div>    
                    

                    
                  
                        
            </section>
                
                
            <section> <!--sección sobre mí-->
                <div class="box box-texto">
                <div class="texto">
                <h3>Sobre mí</h3>
                <p>¡Hola a todos! Soy Jane, y actualmente <br>
                    vivo en la vibrante y emocionante <br>
                    ciudad de Tokio, Japón. Me encanta <br>
                    capturar la esencia de la vida urbana a <br>
                    través de mi lente, explorando el <br>
                    contraste entre la arquitectura <br>
                    moderna y las tradiciones centenarias <br>
                    que conviven en esta metrópolis <br>
                    única. Desde rascacielos <br>
                    deslumbrantes y calles bulliciosas <br>
                    hasta templos serenos y jardines <br>
                    tranquilos, encuentro inspiración en <br>
                    cada rincón de esta increíble ciudad</p>
                </div>
            </div> 
            </section>
            <div class="fix"></div>
        </div>  
</div>      



</body>

</html>


